<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Submit Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="main--box">
    <form action="" class="main--form">
        <div class="line">
            <label for="name">Name</label>
            <input id="name" type="text" class="main--input"><br>
        </div>
        <div class="line">
            <label for="onemore">Contact</label>
            <input id="onemore" type="text" class="main--input"><br>
        </div>
        <div class="line">
            <label for="resume">Resume</label>
            <input id="resume" class="main--input"><br>
        </div>
        <div class="line">
            <label for="blog">Blog</label>
            <input id="blog" type="text" class="main--input"><br>
        </div>
        <div class="line">
            <label for="file">File</label>
            <input id="file" type="text" class="main--input"><br>
        </div>

        <div class="line">
            <button type="submit">지원하기</button>
            <button type="result">결과보기</button>
        </div>
    </form>
</div>
</body>
</html>